- var social = author.profiles.facebook ? 'facebook' : 'twitter';
.content.container.clearfix
	.row
		.span12
			.banner
				a.nav.left(href='')
				a.nav.right(href='')
				h2= element.title
				p(style="padding-top:20px")= element.abstract
				//- a.delegate(href='')
				//- 	| Prefiero delegar mi voto a otra persona
				//- 	i
			h3.title-propuestas Propuestas a votar

		.span4.vote-option
			h4 Something
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras adipiscing, urna vitae pellentesque ultricies, leo tortor tincidunt elit, eget ultricies risus nulla at tellus. 


		.span4.vote-option
			h4 Something
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras adipiscing, urna vitae pellentesque ultricies, leo tortor tincidunt elit, eget ultricies risus nulla at tellus. 


		.span4.vote-option
			h4 Something
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras adipiscing, urna vitae pellentesque ultricies, leo tortor tincidunt elit, eget ultricies risus nulla at tellus. 


		.span4.vote-option
			h4 Something
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras adipiscing, urna vitae pellentesque ultricies, leo tortor tincidunt elit, eget ultricies risus nulla at tellus. 

		.clearfix

		include element/info
		include element/comments