extends layout

block content
	.container.page-homepage
		.row
			.span9
				.welcome
					h1	Partido de la red


		.row
			.span3
				.box-homepage
					h5 Ciencia y tecnologia
					.box-content
						h4 
							a(href="") Despenalizacion de la droga
						p La palabra veto procede del latín y significa literalmente '[yo] prohíbo'.1 Se utiliza para denotar que una determinada parte tiene el derecho a parar unilateralmente una determinada pieza de legislación. Un veto, por tanto, proporciona poder ilimitado para parar cambios, pero no para adoptarlos.

					.users
						a(href="", rel="tooltip", title="Santiago Siri", data-placement="bottom", class="tt")
							img(src="https://twimg0-a.akamaihd.net/profile_images/2629670468/7f2398abb6bb598c5c1c13250ae91982_bigger.png")
						a(href="", rel="tooltip", title="Santiago Siri", data-placement="bottom", class="tt")
							img(src="https://twimg0-a.akamaihd.net/profile_images/2629670468/7f2398abb6bb598c5c1c13250ae91982_bigger.png")
						a(href="", rel="tooltip", title="Santiago Siri", data-placement="bottom", class="tt")
							img(src="https://twimg0-a.akamaihd.net/profile_images/2629670468/7f2398abb6bb598c5c1c13250ae91982_bigger.png")
						a(href="", rel="tooltip", title="Santiago Siri", data-placement="bottom", class="tt")
							img(src="https://twimg0-a.akamaihd.net/profile_images/2629670468/7f2398abb6bb598c5c1c13250ae91982_bigger.png")
						a(href="", rel="tooltip", title="Santiago Siri", data-placement="bottom", class="tt")
							img(src="https://twimg0-a.akamaihd.net/profile_images/2629670468/7f2398abb6bb598c5c1c13250ae91982_bigger.png")
						a(href="", rel="tooltip", title="Santiago Siri", data-placement="bottom", class="tt")
							img(src="https://twimg0-a.akamaihd.net/profile_images/2629670468/7f2398abb6bb598c5c1c13250ae91982_bigger.png")


			.span3
				.box-homepage
					h5	Deportes
					.box-content
						h4
							a(href="") Despenalizacion de la droga
						p La palabra veto procede del latín y significa literalmente '[yo] prohíbo'.1 Se utiliza para denotar que una determinada parte tiene el derecho a parar unilateralmente una determinada pieza de legislación. Un veto, por tanto, proporciona poder ilimitado para parar cambios, pero no para adoptarlos.

					.users
						a(href="", rel="tooltip", title="Santiago Siri", data-placement="bottom", class="tt")
							img(src="https://twimg0-a.akamaihd.net/profile_images/2629670468/7f2398abb6bb598c5c1c13250ae91982_bigger.png")
						a(href="", rel="tooltip", title="Santiago Siri", data-placement="bottom", class="tt")
							img(src="https://twimg0-a.akamaihd.net/profile_images/2629670468/7f2398abb6bb598c5c1c13250ae91982_bigger.png")
						a(href="", rel="tooltip", title="Santiago Siri", data-placement="bottom", class="tt")
							img(src="https://twimg0-a.akamaihd.net/profile_images/2629670468/7f2398abb6bb598c5c1c13250ae91982_bigger.png")
						a(href="", rel="tooltip", title="Santiago Siri", data-placement="bottom", class="tt")
							img(src="https://twimg0-a.akamaihd.net/profile_images/2629670468/7f2398abb6bb598c5c1c13250ae91982_bigger.png")
						a(href="", rel="tooltip", title="Santiago Siri", data-placement="bottom", class="tt")
							img(src="https://twimg0-a.akamaihd.net/profile_images/2629670468/7f2398abb6bb598c5c1c13250ae91982_bigger.png")
						a(href="", rel="tooltip", title="Santiago Siri", data-placement="bottom", class="tt")
							img(src="https://twimg0-a.akamaihd.net/profile_images/2629670468/7f2398abb6bb598c5c1c13250ae91982_bigger.png")




			.span3
				.box-homepage
					h5	Deportes
					.box-content
						h4 
							a(href="") Despenalizacion de la droga
						p La palabra veto procede del latín y significa literalmente '[yo] prohíbo'.1 Se utiliza para denotar que una determinada parte tiene el derecho a parar unilateralmente una determinada pieza de legislación. Un veto, por tanto, proporciona poder ilimitado para parar cambios, pero no para adoptarlos.

					.users
						a(href="", rel="tooltip", title="Santiago Siri", data-placement="bottom", class="tt")
							img(src="https://twimg0-a.akamaihd.net/profile_images/2629670468/7f2398abb6bb598c5c1c13250ae91982_bigger.png")
						a(href="", rel="tooltip", title="Santiago Siri", data-placement="bottom", class="tt")
							img(src="https://twimg0-a.akamaihd.net/profile_images/2629670468/7f2398abb6bb598c5c1c13250ae91982_bigger.png")
						a(href="", rel="tooltip", title="Santiago Siri", data-placement="bottom", class="tt")
							img(src="https://twimg0-a.akamaihd.net/profile_images/2629670468/7f2398abb6bb598c5c1c13250ae91982_bigger.png")
						a(href="", rel="tooltip", title="Santiago Siri", data-placement="bottom", class="tt")
							img(src="https://twimg0-a.akamaihd.net/profile_images/2629670468/7f2398abb6bb598c5c1c13250ae91982_bigger.png")
						a(href="", rel="tooltip", title="Santiago Siri", data-placement="bottom", class="tt")
							img(src="https://twimg0-a.akamaihd.net/profile_images/2629670468/7f2398abb6bb598c5c1c13250ae91982_bigger.png")
						a(href="", rel="tooltip", title="Santiago Siri", data-placement="bottom", class="tt")
							img(src="https://twimg0-a.akamaihd.net/profile_images/2629670468/7f2398abb6bb598c5c1c13250ae91982_bigger.png")
