extends layout

block content
	.container
		.row
			.span12
				form(action="/idea/process", method="post")
					label Titulo
					input(type="text", name="idea[title]", value="")
					label Descripcion
					input(type="text", name="idea[description]", value="")

					input(type="submit", value="Liberar idea")