extends layout

block content
	p.login
		a(id="twitbutt", href="/auth/twitter", class="sb sb-small sb-twitter")
			i
			| Sign in with Twitter
		a(id="fbbutt", href="/auth/facebook", class="sb sb-small sb-facebook")
			i
			| Sign in with facebook