extends layout

block content
    .content.container.clearfix
      .row
        .span12
          .banner
            a.nav.left(href='')
            a.nav.right(href='')
            h2 Modificación de la carta organica del Banco Central
            .options
              a.yes(href='') A Favor
              a.no(href='') En Contra
              a.na(href='') Abstencion
            a.delegate(href='')
              | Prefiero delegar mi voto a otra persona
              i
        .span4
          .information.box.append-bottom
            | Esta ley se encuentra en proceso de
            strong votacion
            | y la han visto
            strong 1202 personas
            | .
          .box.append-bottom.autor-ley
            h5
              i
              | Autores de la ley
            ul
              li
                a.avatar(href='')
                  img(src='https://twimg0-a.akamaihd.net/profile_images/1553188011/FP_GRACIAS_twt2_reasonably_small.jpg')
                a.username(href='')
                  | Federico Pinedo
                  em Pro
                a.follow(href='') Seguirlo
              li
                a.avatar(href='')
                  img(src='https://twimg0-a.akamaihd.net/profile_images/227411203/Picture_4_normal.jpg')
                a.username(href='')
                  | Gabriela Michetti
                  em Pro
                a.follow(href='') Seguirla
              li
                a.avatar(href='')
                  img(src='https://twimg0-a.akamaihd.net/profile_images/1580831997/recortada_de_diag_xa_tw2_normal.JPG')
                a.username(href='')
                  | Jorge Macri
                  em Pro
                a.follow(href='') Seguirlo
              li
                a.avatar(href='')
                  img(src='https://twimg0-a.akamaihd.net/profile_images/1239670765/Imagen_2_normal.png')
                a.username(href='')
                  | Soledad Martinez
                  em Jovenes Pro
                a.follow(href='') Seguirla
          // .box.autor-ley 
          .leyes-similares.append-bottom.box
            h5
              i
              | Leyes Similares
            ul
              li
                a(href='') Despenalización del aborto
              li
                a(href='') Expropiación de YPF
              li
                a(href='') Fertilización asistida
              li
                a(href='') Modificación de la carta o...
              li
                a(href='') Muerte Digna 
              li
                a(href='') Transferencia de los subte...
        .comments.span8
          article.box.clearfix
            h5
              i
              | Comentarios
            .quick-reply
              textarea(placeholder='Tu opinion aqui')
              input.btn(type='submit', value='Responder')
            section.comment.question
              .avatar
                img(src='https://twimg0-a.akamaihd.net/profile_images/1837887923/Photo_on_1-26-12_at_6.39_PM__2_reasonably_small.jpg')
              .right
                .postmeta
                  span.time 3 dias
                span.name Ricardo Rauch
                span.location de Capital Federal
                p
                  | La mejor forma de Luchar contra el narcotrafico es LEGALIZARLO. De esa forma lo
                  | exponemos a las leyes nacionales y no a las de la calle, lo protejera la policia
                  | y no los matones. Por supuesto que los principales perjudicados economicamente
                  | seran los NARCOTRAFICANTES.
                a.reply(href='')
                  i
                  | Responder
            section.comment.answer
              .avatar
                img(src='https://twimg0-a.akamaihd.net/profile_images/2348101213/ijlfcrcag5psron3scez_normal.png')
              .right
                .postmeta
                  span.time 3 dias
                span.name Santiago Siri
                span.location de Capital Federal
                p y de qie la policia nos deje de sacar plata porque fumamos marihuana
                a.reply(href='')
                  i
                  | Responder
            section.comment.answer.last
              .avatar
                img(src='https://twimg0-a.akamaihd.net/profile_images/1837887923/Photo_on_1-26-12_at_6.39_PM__2_reasonably_small.jpg')
              .right
                .postmeta
                  span.time 3 dias
                span.name Ricardo Rauch
                span.location de Capital Federal
                p
                  | Si se legaliza deja de ser nacotrafico ya no va a existir el trafico si es
                  | lega...
                a.reply(href='')
                  i
                  | Responder
            section.comment.question
              .avatar
                img(src='https://twimg0-a.akamaihd.net/profile_images/1837887923/Photo_on_1-26-12_at_6.39_PM__2_reasonably_small.jpg')
              .right
                .postmeta
                  span.time 3 dias
                span.name Ricardo Rauch
                span.location de Capital Federal
                p
                  | La mejor forma de Luchar contra el narcotrafico es LEGALIZARLO. De esa forma lo
                  | exponemos a las leyes nacionales y no a las de la calle, lo protejera la policia
                  | y no los matones. Por supuesto que los principales perjudicados economicamente
                  | seran los NARCOTRAFICANTES.
                a.reply(href='')
                  i
                  | Responder
            section.comment.answer
              .avatar
                img(src='https://twimg0-a.akamaihd.net/profile_images/2348101213/ijlfcrcag5psron3scez_normal.png')
              .right
                .postmeta
                  span.time 3 dias
                span.name Santiago Siri
                span.location de Capital Federal
                p y de qie la policia nos deje de sacar plata porque fumamos marihuana
                a.reply(href='')
                  i
                  | Responder
            section.comment.answer
              .avatar
                img(src='https://twimg0-a.akamaihd.net/profile_images/1837887923/Photo_on_1-26-12_at_6.39_PM__2_reasonably_small.jpg')
              .right
                .postmeta
                  span.time 3 dias
                span.name Ricardo Rauch
                span.location de Capital Federal
                p
                  | Si se legaliza deja de ser nacotrafico ya no va a existir el trafico si es
                  | lega...
                a.reply(href='')
                  i
                  | Responder
      // .comments 
    // .container 
