script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js')
script(src='/js/vendor/livequery/jquery.livequery.js')
script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/js/bootstrap.min.js')
script(src='/js/vendor/underscore/underscore-min.js')

//- Plugins
script(src='/js/vendor/superagent/superagent.js')
script(src='/js/vendor/autosize/jquery.autosize.js')
script(src='/js/vendor/timeago/jquery.timeago.js')
script(src='/js/vendor/timeago/locales/jquery.timeago.es.js')
script(src='/js/vendor/sisyphus/sisyphus.min.js')
script(src="http://masonry.desandro.com/jquery.masonry.min.js")

//if lt IE 9
  script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

script	
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
script(src='/js/site.js')
script(src='/js/pdr.js')
script(src='/js/pdr/api/issues.js')
script(src='/js/pdr/api/comments.js')

script
  PDR && PDR.initialize();