extends layout

block content
  - var social = profile.profiles.facebook ? 'facebook' : 'twitter';

  .container
    .row
      .span9
        .page-title.clearfix
          img.big-avatar(src=profile.imageUrl)
          h2= profile.fullName
          p.location= profile.location || 'Ciudadano Mundial'
          p
            | Describe yourself.
          a(href='http://twitter.com/' + profile.username, target='_blank') Twitter
      .span2
        .box.sidebar.clearfix
          nav
            a.actividad(href='/profiles/me', style="display:none;")
              i
              | Actividad
            a.perfil(href='#', style="display:none;")
              i
              | Perfil
            a.delegaciones.selected(href='/delegations/#{profile.id}')
              i
              | Delegaciones
            a.opciones(href='#', style="display:none;")
              i
              | Opciones
      .span7
        .box
          .box-content
            block profile_content