!!! 5
html(lang='en')
  head
    //
    //   Basic Page Needs
    //    ================================================== 
    title Partido De La Red
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='author', content='')
    //
    //   Mobile Specific Metas
    //    ================================================== 
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //
    //   CSS
    //    ================================================== 
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')

    //- Plugins

    link(rel='stylesheet', href='/css/social-buttons.css')
    link(rel='stylesheet', href='/js/vendor/tokeninput/token-input.css')
    //- link(rel='stylesheet', href='/js/vendor/tokeninput/token-input-mac.css')
    link(rel='stylesheet', href='/js/vendor/tokeninput/token-input-facebook.css')
    link(rel='stylesheet', href='/css/main.css')
    style
      div.token-input-dropdown-facebook{ z-index: 10000}
  
    //
    //   Favicons
    //    ================================================== 
    link(rel='shortcut icon', href='/images/favicon.ico')
    link(rel='apple-touch-icon', href='/images/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/images/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/images/apple-touch-icon-114x114.png')

    // This makes app REALLY slow!!!
    script(type='text/javascript', src='http://use.typekit.com/wva0yvr.js')
    script(type='text/javascript')
      try{Typekit.load();}catch(e){}

  body(class=page + "-page")
    header
      .container
        .row
          .span9
            h1#logo
              a(href='/') Partido De La Red
            nav
              a.votaciones(href='/')
                i
                | Problematicas

              a.how-it-works(href='http://wiki.partidodelared.org')
                i
                | Ayuda
            - if('undefined' !== typeof citizen) {
              - var social = citizen.profiles.facebook ? 'facebook' : 'twitter';
              .user-options
                a.tt.compose.compose-link(data-toggle="modal", role="button", href='#compose', data-backdrop="false", data-keyboard="false", rel="tooltip", title="Redactar una problematica", data-placement="bottom")
                  i
                a.notifications(href='', rel="tooltip", title="Redactar una propuesta", data-placement="bottom")
                  b 43
                  i
                a.tt.options(href='', rel="tooltip")
                  i
                div.options-dropdown
                  a(href="/profiles/me") Mi perfil
                  a(href="/profiles/me/delegations") Delegaciones
                  span.triangle
                  a(href="/logout") Cerrar session

            - } else {
              .login-top(style="float:right;padding:1em;")
                a(id="tw-login-button", href="/auth/twitter", class="sb sb-small sb-twitter")
                  i
                  | Sign in with twitter
            - } 
    
    block content
    
    footer.columns.container.sixteen.clearfix
      //
        .sharing
          script(src='//connect.facebook.net/en_US/all.js#xfbml=1')
          fb:like.facebook-share-button(href='http://facebook.com/votamostodosargentina', send='false', layout='button_count', width='auto', show_faces='true', font='')
          a.twitter-share-button(href='http://twitter.com/share', data-count='horizontal', data-via='', data-related='brad') Tweet
          script(type='text/javascript', src='//platform.twitter.com/widgets.js')
          .plusone
            .g-plusone(data-size='medium', data-annotation='inline', data-width='70', data-href='http://votamostodos.com.ar')
          script(type='text/javascript')
            (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
      | Copyright © 2009-2012 Partido De La Red.

    include issues/form
    include jslibs

    block custom_js