.container
  .row
    .span2
      .box.sidebar.clearfix
        nav
          a.opciones(href='/voting')
            i
            | Votaciones
          a.opciones(href='/issues')
            i
            | Problematicas
          a.opciones(href='/ideas')
            i
            | Ideas
    .span10
      .box
        h3 #{listTitle}
        .activity-list.clearfix
          - if(elements && elements.length)
            - elements.forEach(function(element) {
              .activity-item.activity-vote.clearfix
                .activity-icon
                  i
                .activity-description
                  .triangle
                  a(href=route + element._id)= element.title
                  | . 
                  em.time(title=element.createdAt.toISOString())

            - })