extends layout_profile

block profile_content

  h3 Delegaciones
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur viverra nisl a nisl faucibus molestie. Aliquam ac elit odio. Nunc commodo mi vitae ipsum tempus egestas.
  form(action="/delegation/process", method="post")
  - each category_name, category_id in categories
    .deletagation-item.clearfix
      label= category_name
      input.delegation-input(type="text", name="delegation[#{category_id}]", value="")

