extends layout

block content
  - var social = profile.profiles.facebook ? 'facebook' : 'twitter';

  .container
    .row
      .span12
        .page-title.clearfix
          img.big-avatar(src=profile.imageUrl)
          h2= profile.fullName
          p.location= profile.city ? ( profile.city.name || profile.city ) : 'Ciudadano Mundial'
          p
            | Describe yourself.
          a(href=profile.profiles[social].profileUrl) Facebook
      .span2
        .box.sidebar.clearfix
          nav
            a.actividad.selected(href='')
              i
              | Actividad
            a.perfil(href='')
              i
              | Perfil
            a.delegaciones(href='')
              i
              | Delegaciones
            a.opciones(href='')
              i
              | Opciones
      .span10
        .box
          h3 Actividad
          .activity-list.clearfix
            .activity-item.activity-vote.clearfix
              .activity-icon
                i
              .activity-description
                .triangle
                | Voto en
                a(href='') "Modificación de la carta organica del Banco Central"
                | .
                em Hace 10 minutos
            .activity-item.activity-comment.clearfix
              .activity-icon
                i
              .activity-description
                .triangle
                | Opino en la votacion sobre
                a(href='') "Modificación de la carta organica del Banco Central"
                | .
                em Hace 14 minutos
            .activity-item.activity-delegate.clearfix
              .activity-icon
                i
              .activity-description
                .triangle
                | Delego su voto en Educacion en
                a(href='') Carlos Perez
                | .
                em Hace 22 minutos
            .activity-item.activity-edit.clearfix
              .activity-icon
                i
              .activity-description
                .triangle
                | Editó su perfil.
                em Hace 35 minutos
            .activity-item.activity-vote.clearfix
              .activity-icon
                i
              .activity-description
                .triangle
                | Voto en
                a(href='') "Modificación de la carta organica del Banco Central"
                | .
                em Hace 38 minutos
            .activity-item.activity-comment.clearfix
              .activity-icon
                i
              .activity-description
                .triangle
                | Opino en la votacion sobre
                a(href='') "Modificación de la carta organica del Banco Central"
                | .
                em Hace 1 hora
            .activity-item.activity-delegate.clearfix
              .activity-icon
                i
              .activity-description
                .triangle
                | Delego su voto en Educacion en
                a(href='') Carlos Perez
                | .
                em Hace 2 horas
            .activity-item.activity-edit.clearfix
              .activity-icon
                i
              .activity-description
                .triangle
                | Delego su voto en Educacion en
                a(href='') Carlos Perez
                | .
                em Hace 3 horas
