/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries

/* #Site Styles
================================================== */
html{ -webkit-font-smoothing:antialiased; }
h1,h2,h3,h4,h5,h6
	font-family: "futura-pt";
	font-weight: bold;

/*.container{width: 800px;}*/
.append-bottom{margin-bottom: 20px;}
input,textarea{font-family: 'proxima-nova'}
.button, button, input[type="submit"], input[type="reset"], input[type="button"]{padding: 8px 20px;}
.btn{
	border: 1px solid #999;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .2) inset;
	color: #666;
	display: inline-block;
	background-color: #E5E7EE;
	background-image: -webkit-gradient(linear, 0 0, 0 26, color-stop(0.076, #FCFCFD), to(#E5E7EE));
	background-image: -webkit-linear-gradient(#FCFCFD, #E5E7EE);
	background-image: -moz-linear-gradient(#FCFCFD, #E5E7EE);
	background-image: -o-linear-gradient(#FCFCFD, #E5E7EE);
	font-weight: bold;
	text-shadow: 0 1px 0 white;
	padding: 6px 10px;
	cursor: pointer;
	text-decoration: none;
	border-radius: 4px;
	font-size: 12px;
}

body{background-color: #f1f1f1}
a, a:visited{text-decoration: none; color: #468DC4;}
p 
	a
		border-bottom: 1px solid #ccc; padding-bottom: 2px;
		&:hover
			border-color: #333;
a:hover{text-decoration: none;}
header {

}
	
header
	background: blue;
	background-image: -webkit-linear-gradient(#68a0b6 3.3%, #44798d);
	background-image: -moz-linear-gradient(#68a0b6 3.3%, #44798d);
	background-image: -o-linear-gradient(#68a0b6 3.3%, #44798d);
	padding-top: 4px;

	h1#logo {display: inline-block; margin: 0; margin-left: 20px;   float: left; margin-right: 30px;}
	h1#logo a{width: 52px; height: 49px; margin: 5px 0; background: url('../../images/logo.png?rand'); display: block; text-indent: -1000em;}

	.container .span9
		background-color: #78c0d6;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		background-image: -webkit-linear-gradient(#78c0d6 3.3%, #52adc7);
		background-image: -moz-linear-gradient(#78c0d6 3.3%, #52adc7);
		background-image: -o-linear-gradient(#78c0d6 3.3%, #52adc7);

	nav
		display: inline-block;
		a, a:visited{text-decoration: none; text-transform: uppercase; font-size: 13px; font-weight: bold; color: white; padding: 20px 0 10px 0; opacity: .9; margin-right: 30px; display: inline-block;}
		a:hover{opacity: 1; color: white; text-decoration: none}
		a i{display: inline-block; width: 18px; margin-bottom: -6px; margin-right: 10px; height: 18px;}
		a.votaciones i{background: url('../../images/images.png') no-repeat 0 0;}
		a.users i{background: url('../../images/images.png') no-repeat -26px -1px; width: 22px;}
		a.how-it-works i{background: url('../../images/images.png') no-repeat -57px -1px;}


	.user-options 
		float: right; height: 40px; overflow: visible; position: relative
		& > a {background: rgba(255,255,255,.1); text-decoration: none; position: relative; display: inline-block; width: 60px; float: left; margin-left: 2px; height: 60px;}
		& > a:hover, & > a.active{background: rgba(255,255,255,.2);}
		a i {display: block; width: 22px; margin: 18px auto; height: 22px;}
		a i {background: url('../../images/images.png') no-repeat 1px -27px;}
		a.notifications b{position: absolute; background: #ff2409; background-position:  -4px -418px; background-color: rgba(255,36,9,.8); border-radius: 100px; font-size: 12px; width: 21px;  line-height: 13px; border: 1px solid #d51700; top: 10px; right: 8px; text-align: center; color: white; font-weight: bold; text-decoration: none;}
		a.notifications i{background-position:  0px -417px;}
		a.compose i{background: url('../../images/images.png') no-repeat -74px -418px;}
		a.options i{background: url('../../images/images.png') -99px -418px;}
		a.logout i{background: url('../../images/images.png') no-repeat -50px -28px;}
		.options-dropdown 
			background: white; display: none; top: 50px; right: 10px; position: absolute; z-index: 10000; box-shadow: 0 0 4px rgba(0,0,0,.4); border-radius: 3px;
			span.triangle
				position: absolute;
				top: -5px; 
				right: 15px;
				width: 0; 
				height: 0; 
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-bottom: 5px solid white;
			a
				display: block; padding: 6px 20px; border-bottom: 1px solid #f1f1f1; color: #333; font-weight: bold; font-size: 11px;
				&:hover{color: #333; background: #f1f1f1}
			a:first-child
				border-top-left-radius: 3px;
				border-top-right-radius: 3px;
			a:last-child
				border-bottom-left-radius: 3px;
				border-bottom-right-radius: 3px;
				border: 0;


h3.block-title
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 900;
	margin-top: 20px;

i.icon 
	height: 16px; width: 18px; display: inline-block; background: url('../images/icon-ideas.png') no-repeat  center; margin-bottom: -3px; margin-right: 6px;

.comments
	i.icon
		background-image: url('../images/icon-comments.png')

.block-ideas
	margin-bottom: 0;
	a.delegate{text-decoration: none; float: right; color: #4596b8; font-size: 12px; float: right; border-bottom: 1px solid #ccc;  font-weight: bold; margin-top: 30px; display: block; }
	a.delegate i
		background: url('../../images/images.png') no-repeat  -49px -88px;
		width: 16px;
		margin-left: 10px
		height: 10px;
		display: inline-block;


	.vote-option
		background: white; display: block; min-height: 200px; padding: 14px; overflow: hidden; position: relative; border-radius: 4px; margin-bottom: 20px;
		h4{margin-top: 0; font-size: 16px; line-height: 24px;}
		a.full-read
			font-style: italic;

		.vote{border: 2px solid #7a9c3a; text-shadow: 0 1px 0 rgba(0,0,0,.2); padding: 4px 10px; position: absolute; bottom: 14px; display: inline-block; border-radius: 4px; color: white; text-transform: uppercase; background: #9ac44a; font-weight: bold;}

	.vote-option.create-idea
		font-size: 24px;  text-align: center;
		color: #56acc5;

		i
			display: inline-block;
			margin-top: 60px;
			font-style: normal;
			background: #56acc5;
			color: white;
			font-weight: bold;
			width: 48px;
			line-height: 50px;
			height: 48px;
			font-size: 60px;
			text-align: center;
			border-radius: 100px;
		span
			display: block;
			margin-top: 20px;

		&:hover
			background: #56acc5;
			color: white;
			i
				background: white;
				color: #56acc5;

.block-results
	i.icon
		background-image: url('../images/icon-results.png')
	.partial
		margin-bottom: 20px;
		h5
			margin-top: 0;
		&:last-child
			margin-bottom: 0;
		.bar
			color: white;
			background-color: #e3b56b;
			border-radius: 100px;
			display: block;
			font-weight: bold;
			font-size: 11px;
			min-width: 44px;

			span
				padding: 0 10px;
				font-size: 14px
				display: block;

	.partial:first-child
		.bar	
			background-color: #60cb68;

	.partial:last-child
		.bar	
			background-color: #7560cb;

.banner
	background: #fff ; 
	padding: 10px 0;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	position: relative;
	h2{margin: 0 0 10px 0; padding-bottom: 0;}

	.issue-content
		margin-left: 20px
		.issue-title
			font-size: 12px; color: #999; margin-bottom: 0;
		a.full-read 
			text-transform: uppercase; font-weight: bold; color: #666; margin-top: 0;
		p.issue-content-description{margin-bottom: 20px;}



a.nav{top: 64px; background: white url('../../images/arrow-left.png') center no-repeat; border-radius: 100px; display: inline-block; display: none; width: 30px; height: 30px; border: 2px solid #eee; position: absolute;}
a.nav.right{right: -18px;background-image: url('../../images/arrow-right.png');}
a.nav.left{left: -18px;}
a.nav:hover{border-color: #999}

.box
	ul {margin: 0;}
	.box-content{background: white;  border-radius: 4px; padding: 20px;}

.box.information{background: #fffbe0 url('../../images/icon-alert.png') 20px center  no-repeat; display: none; padding: 20px; border-radius: 4px;  position: relative; padding-left: 60px; color: #706400; font-size: 12px;}
.box.information strong{color: #706400;}


.avatar {float: left;  margin-right: 20px; padding: 2px; box-shadow: 0 1px 1px rgba(0,0,0,.2); float: left; border-radius: 100px; font-weight: bold;}
.avatar img{max-width: 40px; height: 40px; border-radius: 100px; float: left;}
.autor-ley .username{font-weight: bold; color: #333; display: block; margin-bottom: 6px; }
.autor-ley .username em{font-weight: normal; color: #999; margin-left: 6px; font-size: 12px;}
.autor-ley .follow{font-weight: bold; display: block; color:#739bd5; font-size: 11px;}


.comments
	.comments h5 i{
		background: url('../../images/images.png')no-repeat -57px -60px;
		width: 18px;
		height: 16px;
	}
	.comment {border-left: 4px solid #f1f1f1; border-radius: 4px; background: white; border-bottom: 1px dashed #ccc; padding: 20px 0; position: relative;}

	.comment .avatar{margin-left: -25px;}

	.comment.question{border-bottom: 0; background: white; }
	.comment.answer{border: 0; margin-bottom: 10px;}
	.comment.answer img{width: 36px;}
	.comment.answer.last{ border-bottom: 1px dashed #ccc; margin-bottom: 20px;}
	.comment.answer, .comment .right{padding-left: 30px;}
	.comment.answer .right{padding-left: 20px;}
	.comment .postmeta{float: right; color: #999; font-size: 12px;}
	.comment .name{font-weight: bold; margin-right: 6px; margin-bottom: 6px; display: inline-block;} 
	.comment.answer .name{margin-bottom: 0;}
	.comment .location{font-style: italic; color: #999; font-size: 12px;}
	.comment .right{display: inline-block;  display: block;  }
	.comment .right p{margin-bottom: 0; line-height: 20px;}
	.reply{font-weight: bold; font-size: 11px;}
	.reply i{
		background: url('../../images/images.png') no-repeat -32px -89px;
		width: 12px;
		height: 8px;
		display: inline-block;
	}

	.comment .right .reply {opacity: 0;}
	.comment .right:hover .reply {opacity: 1;}

.quick-reply {margin-bottom: 4px; background: white; padding: 20px 20px 4px 20px}
.quick-reply textarea{width: 96%; min-height: 80px; padding: 2%; border-radius: 3px; margin-bottom: 10px}

.comment-list{background: white; padding: 0 40px;}

footer{padding: 20px 0; font-size: 12px; color: #666; border-top: 1px dashed #ccc; margin-top: 30px;}
footer .sharing{float: right; width: 400px; margin-top: -2px; text-align: right;}
footer iframe{display: inline-block;}
#widget{width: 200px;}
.plusone{width: 70px; display: inline-block;}
.fb_ltr{margin-top: -3px;  display: inline-block;}
.facebook-share-button{ margin-right: 20px;}


.page-title{
	background: white; 
	padding: 30px 30px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-bottom: 20px;
}
.page-title h2{margin-bottom: 0}

body.profile-page {
	.page-title{
		h2{margin-top: 0;}
		padding: 20px 20px;
		.location{color: #999; font-weight: normal; font-size: 12px;}
	}

	.big-avatar{float: left; width: 110px; display: block; border-radius: 4px; margin-right: 30px;}
	.afiliacion{float: right; font-size: 20px; margin-top: 8px; color: #3c88c0; font-weight: bold}

	.activity-list{
		margin: 30px 0;
		border-left: 1px solid #ccc;
		margin-left: 20px;
		.activity-item{
			margin-bottom: 30px;
			.activity-icon{ 
				margin-left: -20px; background: #e26061; display: inline-block; float: left; border-radius: 100px; width: 38px; height: 38px;
				i{
					background: url('../../images/images.png') no-repeat -91px 0;
					width: 12px;
					height: 12px;
					display: block;
					margin: 14px auto;
				}
			}
			.activity-description{
				position: relative; background-color: #f1f1f1; margin: 0 0 0 14px; float: left; padding: 10px 14px; border-radius: 4px;
				a{color: black; font-weight: bold;}
			}
		}
		.activity-item:last-child{margin-bottom: 0;}
		.activity-vote .activity-icon{
			background-color: #6655c8;
			i{margin-top: 13px;}
		}
		.activity-comment .activity-icon{
			i{background-position: -91px -18px; margin-top: 14px;}
		}
		.activity-delegate .activity-icon{
			background-color: #e29260;
			i{background-position: -87px -35px; width: 16px; }
		}
		.activity-edit .activity-icon{background-color: #58c855;

			i{background-position: -91px -51px; margin-top: 12px;}
		}
		.triangle{
			width: 0; 
			height: 0; 
			border-top: 8px solid transparent;
			border-bottom: 8px solid transparent; 
			border-right:8px solid #f1f1f1; 
			left: -6px;
			top: 12px;
			position: absolute;
		}
	}
}

.box.sidebar{
	background: #2e5560;
	padding: 0;
	nav a{color: white; opacity: .4; font-weight: bold; display: block; text-align: center; margin: 10px; padding: 10px; text-transform: uppercase; font-size: 11px}
	nav a.selected{opacity: 1; background: rgba(255,255,255,.2); border-radius: 4px; }
	nav a i{display: block; width: 50px; height: 50px; background: red; margin: auto; margin-bottom: 10px;}
	nav a.actividad i{	background: url('../../images/images.png') no-repeat 0 -141px;}
	nav a.perfil i{	background: url('../../images/images.png') no-repeat 0 -211px;}
	nav a.delegaciones i{	background: url('../../images/images.png') no-repeat -4px -283px;}
	nav a.opciones i{	background: url('../../images/images.png') no-repeat  0 -352px;}
}

.compose-modal
	background: white; position: fixed; overflow-y: scroll !important; z-index: 1000; top: 0; right: 0; left: 0; bottom: 0; 
	.close-compose{position: fixed; right: 20px; top: 20px; background: black; color: white; font-weight: bold; text-transform: uppercase; padding: 10px 20px; display: block; border-radius: 4px;}
	.compose-modal-inner{width: 500px; padding-bottom: 50px; margin: auto; margin-top: 40px;}
	input.compose-title, textarea{width: 500px; font-size: 15px; border: 0; box-shadow: none; padding: 10px 0; border-radius: 0;}
	input.compose-title{font-size: 26px; padding: 0; padding-top: 7px; height: 27px; font-weight: bold; color: #333;}

	.insertion-point
		height: 40px;
		width: 5px;
		left: -14px;
		display: inline-block;
		border-left: 5px solid #00a2ff;
		visibility: hidden;
		position: absolute;

	form p:first-child > .insertion-point
		visibility: visible; 


	.insertion {position: relative; margin-bottom: 30px; }



.insertion-point{
	-webkit-animation-name: insertPulse;
	-moz-animation-name: insertPulse;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-timing-function: ease-in-out;
}

@-webkit-keyframes insertPulse {
    0% { opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {opacity: 0.0;}
}
textarea{resize: none; color: #333;}


input::-webkit-input-placeholder {color: #333; padding-top: 4px;}
input::-moz-placeholder {}
textarea::-webkit-input-placeholder{color: #333;}

a.sb{

	$border_radius: 4px;

	display: inline-block;
	border-radius: $border_radius;
	border: 1px solid #274470;		
	font-weight: bold;

	&.sb-small{
		text-shadow: 0 -1px 0 rgba(0,0,0,.7);
		line-height: 26px;
		padding: 0 14px 0 0;
		font-size: 11px;
		box-shadow: 0 1px 0 rgba(255,255,255,.4) inset, 0 2px 2px rgba(0,0,0,.1);
		
		i{display: inline-block; box-shadow:-1px 0  0 rgba(255,255,255,.1) inset; width: 30px; height: 26px; float: left; background: url('') center 7px no-repeat;  border-right: 1px solid #333;  margin-right: 10px}
		
		&.sb-facebook{
			i{background-image: url('../images/buttons/icon-facebook.png'); border-color: #3b62a1; }
			color: white;
			background-color: #607cb3;
			background-image: -webkit-linear-gradient(#607cb3, #3b62a1);
			background-image: -moz-linear-gradient(#607cb3, #3b62a1);
			background-image: -o-linear-gradient(#607cb3, #3b62a1);
		}
		
		&.sb-twitter{
			i{background-image: url('../images/buttons/icon-twitter.png'); border-color: #8adcea; }
			color: #4980a9;
			border-color: #2fa2be;
			text-shadow: 0 1px 0 rgba(255,255,255,.3);
			background-color: #607cb3;
			background-image: -webkit-linear-gradient(#b5edef, #77dde1);
			background-image: -moz-linear-gradient(#b5edef, #77dde1);
			background-image: -o-linear-gradient(#b5edef, #77dde1);
		}
		
		&.sb-linkedin{
			i{background-image: url('../images/buttons/icon-linkedin.png'); background-position:  center 5px; border-color: #19729f; }
			color: white;
			border-color: #0f4d7f;
			background-color: #607cb3;
			background-image: -webkit-linear-gradient(#5aaaca, #19729f);
			background-image: -moz-linear-gradient(#5aaaca, #19729f);
			background-image: -o-linear-gradient(#5aaaca, #19729f);
		}

	}
	
	&.sb-big{
		color: white;
		background: #333;
		text-shadow: 0 1px 1px rgba(0,0,0,.7);
		border-color: #2474cd;
		border-radius: 2px;
		position: relative;
		box-shadow: 0 2px 2px rgba(0,0,0,.1);
		i{display: block; left: 0; top: 0; bottom: 0; position: absolute; width: 56px; background: url() center no-repeat;}
		span, strong{padding: 5px 20px 5px 56px; display: block; box-shadow: 1px 1px 0 rgba(255,255,255,.4) inset;}
		span{
			text-transform: uppercase;
			padding-top: 10px;
			padding-bottom: 10px;
			font-size: 13px;
			border-top-right-radius: 1px;
			border-top-left-radius: 1px;
			border-bottom: 1px solid #1e5ba0;
		}
		strong{
			font-size: 11px;
			border-bottom-right-radius: 1px;
			border-bottom-left-radius: 1px;
		}
		&.sb-facebook{
			color: white;
			background-color: #4176b6;
			i{background-image: url('../images/buttons/icon-facebook-big.png')}
			span{
				background-color: #607cb3;
				background-image: -webkit-linear-gradient(#6098d2, #3e78c0);
				background-image: -moz-linear-gradient(#6098d2, #3e78c0);
				background-image: -o-linear-gradient(#6098d2, #3e78c0);
				border-color: #1e5ba0;
			}
			strong{background: #9bb9e3; color: #1b4f8a; text-shadow: 0 1px 0 rgba(255,255,255,.4)}
		}
		
		&.sb-twitter{
			border-color: #4db9d3;
			i{background-image: url('../images/buttons/icon-twitter-big.png')}
			span{
				color: #4980a9;
				border-color: #2fa2be;
				text-shadow: 0 1px 0 rgba(255,255,255,.6);
				background-color: #607cb3;
				background-image: -webkit-linear-gradient(#b5edef, #77dde1);
				background-image: -moz-linear-gradient(#b5edef, #77dde1);
				background-image: -o-linear-gradient(#b5edef, #77dde1);
			}
			strong{background: #c3eff2; color: #4980a9; text-shadow: 0 1px 0 rgba(255,255,255,.4)}
		}
		
		&.sb-linkedin{
			border-color: #0f4d7f;
			i{background-image: url('../images/buttons/icon-linkedin-big.png')}
			span{
				border-color: #0f4d7f;
				background-color: #607cb3;
				background-image: -webkit-linear-gradient(#5aaaca, #19729f);
				background-image: -moz-linear-gradient(#5aaaca, #19729f);
				background-image: -o-linear-gradient(#5aaaca, #19729f);
			}
			strong{background: #abd1e3; color: #19729f; text-shadow: 0 1px 0 rgba(255,255,255,.4)}
		}
	}
	
	
	&:hover{opacity: .9}
	&:active{box-shadow: 0 2px 2px rgba(0,0,0,.1) inset}

}

