extends layout

block content
	.container
		.row
			.span12
				form(action="/ideas/process", method="post")
					label Titulo
					input(type="text", name="idea[title]", value="")
					label Contenido
					textarea(name="idea[essay]")

					input(type="submit", value="Crear idea")