<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Partido De La Red</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="bootstrap/css/bootstrap-responsive.css">
	<link rel="stylesheet" href="css/stylesheet/main.css">


	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">


	<script type="text/javascript" src="http://use.typekit.com/wva0yvr.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>
<body class="<?php echo $page_class ?>-page">

	<header>
		<div class="container">
			<div class="row">
			<div class="span12">
				<h1 id="logo"><a href="">Partido De La Red</a></h1>
				<nav>
					<a class="votaciones" href=""><i></i>Votaciones</a>
					<a class="users" href=""><i></i>Usuarios</a>
					<a class="how-it-works" href=""><i></i>¿Como funciona?</a>
				</nav>

				<div class="user-options">
					<a class="notifications" href=""><b>43</b><i></i></a>
					<a class="options" href=""><i></i></a>
					<a class="logout" href=""><i></i></a>
				</div>
			</div>
			</div>
		</div>
	</header>


<!-- HERE GOES CONTENT -->

	<footer class="columns container sixteen clearfix">

		<div class="sharing">
			<script src="//connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="http://facebook.com/votamostodosargentina" send="false" layout="button_count" class="facebook-share-button" width="auto" show_faces="true" font=""></fb:like>
            
            <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="" data-related="brad">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>                    
                
            <!-- Place this tag where you want the +1 button to render -->
            <div class="plusone"><div class="g-plusone" data-size="medium" data-annotation="inline" data-width="70" data-href="http://votamostodos.com.ar"></div></div>

            <!-- Place this render call where appropriate -->
            <script type="text/javascript">
              (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
              })();
            </script>
		</div>

		Copyright © 2009-2012 Partido De La Red. 
	</footer>
</body>
</html>