<div class="container">
	<div class="row">
		<div class="span12">
			<div class="page-title clearfix">
				<img class="big-avatar" src="https://twimg0-a.akamaihd.net/profile_images/2348101213/ijlfcrcag5psron3scez_reasonably_small.png" />


				<h2>Santiago Siri</h2>
				<p class="location">Buenos Aires, Argentina</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce urna eros, convallis quis pharetra in, blandit non nibh. </p>
				<a href="">http://grupo42.com</a>
			</div>
		</div>

		<div class="span2">
			<div class="box sidebar clearfix">
				<nav>
					<a class="actividad selected" href=""><i></i>Actividad</a>
					<a class="perfil" href=""><i></i>Perfil</a>
					<a class="delegaciones" href=""><i></i>Delegaciones</a>
					<a class="opciones" href=""><i></i>Opciones</a>
				</nav>
			</div>
		</div>
		<div class="span10">
			<div class="box">
				<h3>Actividad</h3>

				<div class="activity-list clearfix">
					<div class="activity-item activity-vote clearfix">
						<div class="activity-icon"><i></i></div>

						<div class="activity-description"><div class="triangle"></div> Voto en <a href="">"Modificación de la carta organica del Banco Central"</a>. <em>Hace 10 minutos</em></div>
					</div>

					<div class="activity-item activity-comment clearfix">
						<div class="activity-icon"><i></i></div>

						<div class="activity-description"><div class="triangle"></div>Opino en la votacion sobre <a href="">"Modificación de la carta organica del Banco Central"</a>. <em>Hace 14 minutos</em></div>
					</div>

					<div class="activity-item activity-delegate clearfix">
						<div class="activity-icon"><i></i></div>

						<div class="activity-description"><div class="triangle"></div>Delego su voto en Educacion en <a href="">Carlos Perez</a>. <em>Hace 22 minutos</em></div>
					</div>


					<div class="activity-item activity-edit clearfix">
						<div class="activity-icon"><i></i></div>

						<div class="activity-description"><div class="triangle"></div>Editó su perfil. <em>Hace 35 minutos</em></div>
					</div>

										<div class="activity-item activity-vote clearfix">
						<div class="activity-icon"><i></i></div>

						<div class="activity-description"><div class="triangle"></div> Voto en <a href="">"Modificación de la carta organica del Banco Central"</a>. <em>Hace 38 minutos</em></div>
					</div>

					<div class="activity-item activity-comment clearfix">
						<div class="activity-icon"><i></i></div>

						<div class="activity-description"><div class="triangle"></div>Opino en la votacion sobre <a href="">"Modificación de la carta organica del Banco Central"</a>. <em>Hace 1 hora</em></div>
					</div>

					<div class="activity-item activity-delegate clearfix">
						<div class="activity-icon"><i></i></div>

						<div class="activity-description"><div class="triangle"></div>Delego su voto en Educacion en <a href="">Carlos Perez</a>. <em>Hace 2 horas</em></div>
					</div>


					<div class="activity-item activity-edit clearfix">
						<div class="activity-icon"><i></i></div>

						<div class="activity-description"><div class="triangle"></div>Delego su voto en Educacion en <a href="">Carlos Perez</a>. <em>Hace 3 horas</em></div>
					</div>


				</div>


			</div>
		</div>
	</div>	
</div>
