.span12
  .banner
    a.nav.left(href='')
    a.nav.right(href='')
    h2= element.title

    p(style="padding-top:20px")= element.abstract
    a.delegate(href='')
      | Prefiero delegar mi voto a otra persona
      i
