- var comment = comment || {};
- var voted = voted || false;
.quick-reply
  form(method="post", action="/comments/process")
    input(type="hidden", name="comment[id]", value=comment._id)
    input(type="hidden", name="comment[reference]", value=element.id)
    textarea.textarea-quick-reply.expand(name="comment[text]", placeholder='Tu opinion aqui')
    - if(!voted && !comment._id) {
      p
        a.tt.compose-initiative(data-toggle="modal", role="button", href='#compose-initiative#{comment ? "-comment-" + comment._id : ""}', data-backdrop="false", data-keyboard="false", rel="tooltip", title="Redactar una iniciativa", data-placement="bottom") Adjuntar propuesta
      .initiative-form.compose-modal(id='compose-initiative#{comment ? "-comment-" + comment._id : ""}', role="dialog", aria-hidden="true", style="display:none;")

        .initiative.compose-modal-inner
          a.close-compose(href="", data-dismiss="modal") ×

          h2  Crear propuesta
          p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quam mi, elementum vel eleifend ac, venenatis non lorem. Nam tristique ullamcorper sem quis iaculis

          p.insertion
            span.insertion-point
            input.compose-title.compose-text(name="initiative[title]", type="text", placeholder="Titulo de la propuesta")

          p.insertion
            span.insertion-point
            textarea.compose-content.compose-text.expand(name="initiative[essay]", placeholder="Contenido de la propuesta")

          button(type="button", class="btn", value="Adjuntar iniciativa") Adjuntar propuesta
    - }
    input.btn(type='submit', value='Responder')
