.comments.span9
  article.box.clearfix
    h5
      i
      | Comentarios sobre la #{elementType.toLowerCase()} "
      em= element.title
      | "
    include comment_form
    .comment-list
      - comments.forEach(function(comment) {
        include comment_single
      - });