.comments.span9
  article.box.clearfix
    h3.block-title
      i.icon
      | Comentarios sobre la #{elementType.toLowerCase()} "
      em= element.title
      | "
    include comment_form
    .comment-list-container
      .comment-list.clearfix
        - comments.forEach(function(comment) {
          include comment_single
        - });