- var delegation = delegation || {};
#delegation.modal(role="dialog", style="display:none;")
  .modal-header
    a.close(type="button", data-dismiss="modal", aria-hidden="true") ×
    h2 Delegacion de voto
  .modal-body

    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur viverra nisl a nisl faucibus. 

    form().form-delegation
      - if(delegation.trustees) {
        - var firstTrustee = delegation.trustees[0];
        h5  Usted esta delegando su voto en #{firstTrustee.fullName} (@#{firstTrustee.username})
        img.profile-delegation(src="#{firstTrustee.imageUrl}")
      - } else {
        h5 Usted no ha configurado delegaciones en esta categoria
      - }

      p 
        a.delegate-button(href="#") Prefiero delegar mi voto en otra persona
      
      //- on click muestra este input
      p(style="display:none;")
        input(type="text", class="input-delegate-another", placeholder="Usuario al que le quiere delegar su voto")

  .modal-footer
    button.btn(type="button", data-dismiss="modal", aria-hidden="true") Confirmar delegacion
