#delegation.modal(role="dialog", style="display:none;")
  .modal-header
    button.close(type="button", data-dismiss="modal", aria-hidden="true") x
    h2 Formulario de delegación
  .modal-body
    form().form-delegation

      h4  Ustes esta delegando su voto en Ricardo Rauch para el topico Ciencia y Tecnologia

      img.profile-delegation(src="https://twimg0-a.akamaihd.net/profile_images/2583335118/yts2np89ifncbi0j3vgm.jpeg")

      p 
        a(href="") Prefiero delegar mi poder de voto en otra persona
      //- p
      //-   input(type="text", name="delegation[citizen]", placeholder="Empieze a escribir el nombre") 


  .modal-footer
    button.btn(type="button", data-dismiss="modal", aria-hidden="true") Confirmar delegacion
