- var delegation = delegation || {};
- var category = element ? element.category : '';
#delegation.modal(role="dialog", style="display:none;", data-category="#{category}")
  .modal-header
    a.close(type="button", data-dismiss="modal", aria-hidden="true") ×
    h2 Delegacion de voto

  .modal-body
    p
      | La delegación te permite ceder tu poder de voto en quien confías para que tome decisiones por tí en las materias en que no te especializas.
      | Siempre puedes deshacer una delegación cuando lo desees. 

    form().form-delegation
      - if(delegation.trustees && delegation.trustees.length) {
        - var len = delegation.trustees.length - 1; 
        - var trustee = delegation.trustees[len];
        h5
          | Usted esta delegando su voto en 
          span.fullname #{trustee.fullName}
          |  (@
          span.username #{trustee.username}
          | )
        img.profile-delegation(src="#{trustee.imageUrl}")

        p 
          a.delegate-button(href="#") Prefiero delegar mi voto en otra persona
        
        //- on click muestra este input
        p(style="display:none;")
          input.input-delegate-another(type="text", placeholder="Usuario al que le quiere delegar su voto")

        .modal-footer
          button.btn.confirm-delegation(type="button", aria-hidden="true") Confirmar delegacion

      - } else {
        h5
          | Usted no ha configurado delegaciones en esta categoria. Haga click 
          a(href="/profiles/me/delegations") aqui
          |  para configurarlo.

      - }



