#delegation.modal(role="dialog", style="display:none;")
  .modal-header
    button.close(type="button", data-dismiss="modal", aria-hidden="true") x
    h2 Formulario de delegación
  .modal-body
    form()
      p Delego mi poder de voto a
      p
        input(type="text", name="delegation[citizen]", placeholder="Empieze a escribir el nombre") 
      - if(element !== 'undefined' && element.id) {
        p
          input(type="checkbox", name="delegation[issue]", value="#{element.id}")
          label(style="display:inline-block;margin-left:10px;")
            | en esta problematica
        p y/o
      - };
      p
        input(type="checkbox", name="delegation[category][check]", value="1")
        label(style="display:inline-block;margin-left:10px;")
         | en la categoria
        select(name="delegation[category][id]", style="display:inline-block;margin-left:20px;")
          - each category_name, category_id in categories
            option(value="category_id")= category_name

  .modal-footer
    button.btn(type="button", data-dismiss="modal", aria-hidden="true") Cerrar
    button.btn(type="button", data-dismiss="modal", aria-hidden="true") Delegar
