#compose(style="display: none").compose-modal
  a.close-compose(href="") Cerrar

  form.compose-modal-inner(method="post", action="/issues/process")
    input(type="hidden", name="issue[_id]")
    p.insertion
      span.insertion-point
      input.compose-title.compose-text(name="issue[title]", type="text", placeholder="Titulo de la problematica")

    p.insertion
      span.insertion-point
      textarea.brief.compose-text.expand(name="issue[abstract]", placeholder="Resumen de la problematica")

    p.insertion
      span.insertion-point
      textarea.compose-content.compose-text.expand(name="issue[essay]", placeholder="Contenido de la problematica")

    //- p.insertion
    //-   span.insertion-point
    //-   textarea.compose-link.textarea-content.compose-text.expand(name="issue[link]", placeholder="Link a espacio oficial")

    //- p.insertion
    //-   span.insertion-point
    //-   textarea.compose-sources.compose-text.expand(name="issue[sources]", placeholder="Fuentes de discusion")

    input(type="submit", class="btn", value="Crear problematica") 
